@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
.scrollable::-webkit-scrollbar {
  display: initial; /* Hiển thị thanh cuộn */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh cuộn */
  border-radius: 4px; /* Bo tròn cạnh của thanh cuộn */
}

.App {
  text-align: start;
}
.tacgiavschuyehuong
{
  display: flex;
  flex-direction: row;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
div{
  font-family: Arial, Helvetica, sans-serif;
}

.khung
{
  border: 1px solid #D9D9D9;
background: #FFF;
margin-right: 50px;

}
.khung2
{
  border: 1px solid #D9D9D9;
background: #FFF;

}

.chuyenhuong
{
  width: 50%;
justify-content: end;
  flex-direction: row;
  justify-content: end;
}
.no{
  color: #FF9040;

font-style: normal;
font-weight: 700;
line-height: normal;
padding-right: 40px;
}


.center {
  width: 7%;
/*chinh lai center khong can dung div*/
  /* Center horizontally*/
  margin: 0 auto;
}
.centeravt {
  width: 7%;
  margin: 0 45% 0 41%;
}

.hiddenscrollbar::-webkit-scrollbar {
  display: none;
}
.title{

  margin: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


.xemnhieunhattitle
{
  color: #F3EB39;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.80);
  font-family: Tahoma;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom : 0px 
}

.topmangatitle
{
  font-weight: bold;
  padding-bottom: 8px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.topmangadetail
{
  width: 98%;
  height: 95%;
  margin-left: 1.125vh;
  display: flex;
  justify-content: start;
}
.topmanga{
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  overflow: hidden;
}



.topmangabg
{
  background-size:100% 100%;
  width: 100%;
  position:absolute;
  background: #0000002c;
  z-index: -1;
  /*background:url(D:\mangaone\src\images\mangaimage.jpg);
  height: 350px;
  background-size:100% 100%;
  background-blend-mode: darken;
  width: 100%;
  position:absolute;
  filter: blur(175px);
/*blur lớn không tràn thế nào?*/
}
.topmangaavt{

  height: 100%;
}
.timebutton
{
  margin-top: 10px;
  margin-bottom:20px;
  width:100% ;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#D9D9D9;
}
.timebutton.selected
{
  color: white;
  background-color:#FF9040;
}
.pagination
{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topmangainfo
{
  padding-left: 10px;
  display: flex;
  width: 100vw;
  flex-direction: column;
}
.buttontheloai
{
  padding: 3px;
  border-radius: 7px;
  background-color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tentacgia
{
  font-weight:600;  margin: 5px; margin-left: 0px;
}
.noidung
{
  height: 100%;
  padding-top: 8px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgo{
  border-radius: 3px;
border: 1px solid #000;
background: #D9D9D9;
width: 100%;
margin-bottom: 15px;
}

.bgo {
  padding: 5px;
  width: 100%;
  box-sizing: border-box; /* Đảm bảo rằng padding không làm tăng kích thước của input */
}
.bgo:focus
{
  border-color: #FF9040;
}
.bgo:hover
{
  border-color: #FF9040;
}


.biatruyen{
  display: flex;
  height:100%;
flex-direction: column;
  justify-content: end;
  filter: blur(17.5px);

  background-position: center -450px; /* căn giữa hình ảnh */
  background-size: cover; /* hoặc background-size: contain; */
}



.upload
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

